pytest==6.2.4
Flask==2.0.1
requests==2.21.0
oauthlib==3.0.1
SQLAlchemy==1.4.20
alembic==1.6.5
gunicorn==20.1.0
click==7.1.2
Flask-Migrate==3.0.1
Flask-Script==2.0.6
Flask-Login==0.4.1
psycopg2-binary==2.8.6
psycopg2==2.9.1
cryptography==3.4.7
fleep==1.0.1
mutagen==1.45.1