html, body {
    height: 100vh;
    font-family: 'Fira Code', monospace;
}

.bg-dark {
    background-color: black !important;
}

.samples {
    padding-top: 80px;
    background-color: #282828;
}

.navbar-brand {
    position: absolute;
    color: #00FF00 !important;
}

.add-icon, .download-icon {
    float: right;
    margin-left: 10px;
    margin-right: -5px;
}

.sample-buttons {
    margin-left: 20px;
    float: right;
}

.delete-button {
    position: relative;
    top: 8px;
    right: 10px;
}

.delete-button:hover {
    text-decoration: none;
}

.card-header {
    font-size: 20px;
}

#description {
    min-height: 100px;
}

.red-button {
    color: white;
    transition: color .15s ease-in-out;
}

.red-button:hover {
    color: #FF0000;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #00FF00;
}

.custom-checkbox .custom-control-indicator {
    border-radius: .1rem;
}

.custom-file {
    margin-bottom: 10px;
}

.custom-file-label {
    margin: 0 15px;
}

.sample-card {
    margin-bottom: 20px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "browse";
}