{% extends "base.html" %}
{% import 'base.html' as base %}
{% block back_button %}
    <a href="{{ url_for('new_sample', _scheme='https', _external=True) }}" role="button"
       class="btn btn-outline-light">
        upload sample<span class="material-icons add-icon">add</span>
    </a>
{% endblock %}
{% block logout_button %}
    {{ base.logout(user.is_authenticated) }}
{% endblock %}
{% block content %}
    <div id="samples" class="d-flex flex-column w-100">
        {% for sample in samples %}
            <div id="sample-card{{ sample.id }}" class="sample-card card w-100 text-white bg-dark">
                <div class="card-header">{{ 'anonymous' if sample.anonymous else sample.first_name }} {{ '' if
                        sample.anonymous else sample.last_name }} - {{ sample.name }}
                </div>
                {% if sample.description != '' %}
                    <div class="card-body">
                        <p class="card-text">{{ sample.description }}</p>
                    </div>
                {% endif %}
                <div class="card-footer">
                            <span class="audio-format">
                                {% if sample.bit_depth is none %}
                                    unknown audio format
                                {% else %}
                                    {{ sample.bit_depth }}bit {{ sample.sample_rate }}kHz
                                {% endif %}
                            </span>
                    <div class="sample-buttons">
                        {% if sample.creator == user.id %}
                            <a href="javascript: fetch('/sample/' + '{{ sample.id }}' + '/delete', {method: 'delete'}).then(() => location.reload()); "
                               class="red-button delete-button">
                                <span class="material-icons">delete</span>
                            </a>
                        {% endif %}
                        <a href="javascript: playAudio('{{ sample.id }}')" role="button"
                           class="btn btn-outline-light green-button">
                            {{ sample.num_downloads }}
                            <span id="play{{ sample.id }}"
                                  class="material-icons play-icon">play_arrow</span>
                        </a>
                        <a href="{{ url_for('sample.download_sample', sample_id=sample.id, play=false) }}" role="button"
                           class="btn btn-outline-light green-button">
                            <span class="material-icons download-icon">download</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ base.footer() }}
    </div>
{% endblock %}
{% block scripts %}
    <script src="../static/woscope.js"></script>
    <script>
        var scopes = {}

        function playAudio(sample_id) {
            if (sample_id in scopes) {
                stopAudio(sample_id);
                return;
            }

            let playButton = document.getElementById('play' + sample_id);
            playButton.innerText = 'stop';

            let sampleCard = document.getElementById('sample-card' + sample_id);

            let canvas = document.createElement("canvas");
            canvas.id = "canvas" + sample_id;
            canvas.classList.add("sample-canvas", "mx-auto");
            canvas.height = 800;
            canvas.width = 800;

            var sample = document.createElement("audio");
            sample.id = "sample" + sample_id;
            sample.src = "/sample/" + sample_id;
            sample.loop = true;

            sampleCard.prepend(canvas);
            sampleCard.prepend(sample);

            scopes[sample_id] = woscope({
                canvas: canvas,
                audio: sample,
                callback: function () {
                    sample.play();
                },
                error: function (msg) {
                    console.log('woscope error:', msg);
                }
            });
        }

        function stopAudio(sample_id) {
            let playButton = document.getElementById('play' + sample_id);
            playButton.innerText = 'play_arrow';
            scopes[sample_id].destroy();
            delete scopes[sample_id];
            var canvas = document.getElementById('canvas' + sample_id);
            var sample = document.getElementById('sample' + sample_id);
            canvas.remove();
            sample.remove();
            let sampleCard = document.getElementById('sample-card' + sample_id);
        }
    </script>
{% endblock %}