{% extends "base.html" %}
{% import 'base.html' as base %}
{% block back_button %}
    <a href="{{ url_for('index', _scheme='https', _external=True) }}" role="button" class="btn btn-outline-light">view
        samples</a>
{% endblock %}
{% block content %}
    <div id="samples" class="d-flex flex-column w-100">
        <div style="padding-bottom: 10px" class="form-card card w-100 text-white bg-dark">
            <div style="color: #00FF00; margin-top: 10px" class="card-header mx-auto">sign in to upload a sample</div>
            <div class="card-body mx-auto">
                <a class="btn btn-outline-dark google-sign-in text align-self-center p-2" href="/login" role="button">
                    <span><img width="18px" alt="Google sign-in" src="../static/google.png"/></span>
                    Sign in with Google</a>
            </div>
        </div>
        {{ base.footer() }}
    </div>
{% endblock %}