<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>osci-sample</title>
    <meta name="description" content="A platform for sharing oscilloscope music samples.">
    <meta name="author" content="James Ball">

    <meta property="og:title" content="osci-sample">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://osci-sample.herokuapp.com">
    <meta property="og:description" content="A platform for sharing oscilloscope music samples.">
    <meta property="og:image" content="image.png">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <link rel="mask-icon" href="../static/safari-pinned-tab.svg" color="#282828">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <meta name="msapplication-TileColor" content="#282828">
    <meta name="msapplication-config" content="../static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossOrigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossOrigin="anonymous">
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link rel="stylesheet" href="../static/main.css">

</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand d-none d-md-block"
       href="{{ url_for('index', _scheme='https', _external=True) }}">osci-sample</a>
    <div class="pull-sm-left"></div>
    <div class="ml-0 mr-auto ml-sm-auto">
        <a href="{{ url_for('index', _scheme='https', _external=True) }}" role="button" class="btn btn-outline-light">view samples</a>
    </div>
    <div class="pull-sm-right d-none d-xs-block">
        <a target="_blank" href="https://paypal.me/jameshball" role="button"
           class="donate-button green-button btn btn-outline-light">
            donate<span class="material-icons add-icon">attach_money</span>
        </a>
    </div>
    <a href="{{ url_for('logout', _scheme='https', _external=True) }}" class="red-button" style="margin-bottom: 8px;">
        <span style="margin-top: 7px;" class="material-icons add-icon">logout</span>
    </a>
</nav>
<section class="h-100 samples">
    <header class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="d-flex flex-column w-100">
                <div class="card w-100 text-white bg-dark">
                    <div class="card-header">upload a new sample</div>
                    <div class="card-body">
                        <form method=post enctype=multipart/form-data class="needs-validation" novalidate>
                            <div class="form-group row">
                                <label for="staticName" class="col-lg-2 col-form-label">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" readonly class="form-control-plaintext text-white"
                                           id="staticName" value="{{ first_name }} {{ last_name }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-2">Anonymous</div>
                                <div class="col-lg-10">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="anon" name="anonymous">
                                        <label class="custom-control-label" for="anon">
                                            post anonymously
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="file" class="col-lg-2 col-form-label">Sample file</label>
                                <div class="custom-file col-lg-10">
                                    <input type="file" class="custom-file-input" id="file" name="file" required>
                                    <label class="custom-file-label" for="file">choose file</label>
                                    <div id="file-err" class="invalid-feedback">please choose a file</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-lg-2 col-form-label">Description</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="description" name="description"
                                              maxlength="400"></textarea>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <input class="btn btn-outline-light green-button" type="submit" value="upload">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
</body>
<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        let elem = document.getElementById("file");
        let errElem = document.getElementById("file-err");
        let file = elem.files[0];
        let nextSibling = e.target.nextElementSibling;
        if (file === undefined) {
            nextSibling.innerText = 'choose file';
            errElem.innerText = 'please choose a file';
        } else {
            let re = /(\.aac|\.ac3|\.aiff|\.amr|\.au|\.flac|\.m4a|\.midi|\.mka|\.mp3|\.oga|\.ra|\.voc|\.wav|\.wma)$/i;
            let fileSize = file.size / 1024 / 1024;
            if (fileSize > 20) {
                elem.setCustomValidity("File size too large");
                errElem.innerText = 'file cannot be larger than 20MiB';
            } else if (!re.exec(file.name)) {
                elem.setCustomValidity("File type not supported");
                errElem.innerText = 'file type not supported';
            } else {
                elem.setCustomValidity("");
            }
            nextSibling.innerText = file.name;
        }
    });
</script>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</html>