{% extends "base.html" %}
{% import 'base.html' as base %}
{% block back_button %}
    <a href="{{ url_for('index', _scheme='https', _external=True) }}" role="button" class="btn btn-outline-light">view
        samples</a>
{% endblock %}
{% block logout_button %}
    {{ base.logout(user.is_authenticated) }}
{% endblock %}
{% block content %}
    <div class="d-flex flex-column w-100">
        <div class="form-card card w-100 text-white bg-dark">
            <div class="card-header">upload a new sample</div>
            <div class="card-body">
                <form method=post enctype=multipart/form-data class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label for="staticName" class="col-lg-2 col-form-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" readonly class="form-control-plaintext text-white"
                                   id="staticName" value="{{ user.first_name }} {{ user.last_name }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2">Anonymous</div>
                        <div class="col-lg-10">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="anon" name="anonymous">
                                <label class="custom-control-label" for="anon">
                                    post anonymously
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="file" class="col-lg-2 col-form-label">Sample file</label>
                        <div class="custom-file col-lg-10">
                            <input type="file" class="custom-file-input" id="file" name="file" required>
                            <label class="custom-file-label" for="file">choose file</label>
                            <div id="file-err" class="invalid-feedback">please choose a file</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-lg-2 col-form-label">Description</label>
                        <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="description" name="description"
                                              maxlength="400"></textarea>
                        </div>
                    </div>
                    <div class="mx-auto">
                        <input class="btn btn-outline-light green-button" type="submit" value="upload">
                    </div>
                </form>
            </div>
        </div>
        {{ base.footer() }}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            let elem = document.getElementById("file");
            let errElem = document.getElementById("file-err");
            let file = elem.files[0];
            let nextSibling = e.target.nextElementSibling;
            if (file === undefined) {
                nextSibling.innerText = 'choose file';
                errElem.innerText = 'please choose a file';
            } else {
                let re = /(\.aac|\.ac3|\.aiff|\.amr|\.au|\.flac|\.m4a|\.midi|\.mka|\.mp3|\.oga|\.ra|\.voc|\.wav|\.wma)$/i;
                let fileSize = file.size / 1024 / 1024;
                if (fileSize > 20) {
                    elem.setCustomValidity("File size too large");
                    errElem.innerText = 'file cannot be larger than 20MiB';
                } else if (!re.exec(file.name)) {
                    elem.setCustomValidity("File type not supported");
                    errElem.innerText = 'file type not supported';
                } else {
                    elem.setCustomValidity("");
                }
                nextSibling.innerText = file.name;
            }
        });
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}